* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

nav {
  background: #fbd10b;
  height: 100px;
  position: relative;
}

.logo {
  width: 150px;
  position: absolute;
  left: 10%;
}

.progress-bar {
  display: flex;a
  justify-content: center;
}

.progress-bar img {
  margin-top: 30px;
}

.container{
 display: flex;
 flex-direction: column;
 margin-top: 20px;
}

.container h3{
    font-size: 20px;
    position: relative;
    line-height: 20px;
}
.container p{
    margin-top: 30px;
    line-height: 20px;
}

.checbox-video{
background: rgb(235, 235, 235);
position: relative;
margin-top: 10px;
left: 5px;
border-radius: 12px;
padding: 5px;
}

button {
  display: inline-block;
  text-align: center;
  position: absolute;
  background: #fbd10b;
  border-radius: 12px;
  border: none;
  color: white;
  cursor: pointer;
  left: 50%;
  top: 66%;
}

.btn-prev , .btn-next{
  width: 100px;
  height: 25px;
}
.btn-prev{
    left: 44%;
}

button a {
  color: white;
}
button:hover {
  background: #fadb41;
}
